/* Google fonts import (Poppins)*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0px;
  padding: 0px;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #f8f8f8;
}
:root {
  --gradient: linear-gradient(to right, #e2336b, #fcac46);
}
.sidebar {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #f8f8f8;
  z-index: 2;
  padding: 20px;
}

/*-------------------MAIN HOME-----------------------*/

.main-home {
  position: absolute;
  width: calc(100% - 300px);
  top: 0;
  left: 300px;
  background: #fff;
  border-radius: 1rem 0 0 1rem;
  z-index: 1000;
}
.menu {
  margin-top: 20px;
}
.logo img {
  width: 140px;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
}
.profile-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #e2336b;
}

.profile-img img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
.name {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 1rem;
}
.name h1 {
  font-size: 1.1rem;
}
.name img {
  margin-left: 4px;
  width: 20px;
  object-fit: center;
}
.profile-img span {
  font-size: 0.938rem;
  font-weight: 400;
}

.about {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  width: 100%;
}
.box {
  text-align: center;
}
.box h3 {
  font-size: 1rem;
  font-weight: 500;
}
.box span {
  font-size: 0.938rem;
  font-weight: 400;
}
.menu a {
  width: 100%;
  font-size: 1rem;
  color: black;
  display: flex;
  align-items: center;
  line-height: 40px;
}
.menu .icon {
  margin-right: 1rem;
  font-size: 20px;
}
.menu a:hover,
.menu .active {
  color: #e2336b;
}
.menu a:hover::before,
.menu .active::before {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 17px;
  background: #e2336b;
}
.main-home {
  padding: 20px;
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  width: 200px;
  height: 2.4rem;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.search input {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 7px;
  width: 100%;
}
.search o {
  font-size: 20px;
}
.header-content {
  display: flex;
  align-items: center;
}
.header-content i {
  color: black;
  font-size: 20px;
  margin-left: 1rem;
}
.header-content .btn {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background: var(--gradient);
  margin-left: 1rem;
}
.header-content .btn i {
  color: hsla(0, 0%, 100%, 0.6);
  margin-left: 10px;
}
.btn-text {
  color: #ffff;
}

/*-------------------STORIES-----------------------*/
.stories-title {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.stories-title h1 {
  font-size: 1.8rem;
}
.stories-title .btn {
  display: flex;
  align-items: center;
  color: black;
}
.stories-title .btn i {
  font-size: 24px;
  margin-right: 10px;
}
.stories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.stories-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #e2336b;
}
.stories-img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.stories-img .color {
  border: 2px solid #dbdbdb;
}
.stories-img .add {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  color: #fff;
  background: hsla(246, 100%, 67%, 0.7);
}
.feed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.feed h1 {
  font-size: 1.7rem;
}
.feed-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-text h2 {
  font-size: 1rem;
  margin-top: 1rem;
}
.feed-text span {
  font-size: 1rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
}

/* -----------------------------------posts-------------------------------------------*/
.main-post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 11px;
  margin: 30px 0px 0px 10px;
}
.post-box {
  width: 300px;
}
.post-box img {
  width: 100%;
  height: 344px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #e2336b;
}
.post-img img {
  height: 27px;
  width: 27px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
.post-profile {
  display: flex;
  align-items: center;
}
.post-profile h3 {
  font-size: 12px;
  font-weight: 600px;
  margin-left: 5px;
}
.likes {
  display: flex;
  align-items: center;
}
.likes i {
  font-size: 20px;
  margin-left: 7px;
}
.likes span {
  font-size: 14px;
  margin-left: 7px;
}
